<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.7.5/css/bulma.min.css">
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <title>OpenPage - dg7.pt</title>
</head>
<body>
    <div id="app">
        <section class="hero">
            <div class="hero-body">
                <div class="container">
                    <h1 class="title">
                        Welcome to OpenPage
                    </h1>
                    <p>
                        Make a POST request to <i>{{base_url}}/[page]</i> using the form below with the HTML you want to populate the page with.
                        Then visit the same URL to see the submitted HTML.
                    </p>
                    <p>
                        You can also make that call externally. Just make sure you include the parameter <strong>html</strong> on your POST request, containing the HTML as a <u>base64 encoded</u> string.
                    </p>
                </div>
            </div>
        </section>
    
        <section class="section">
            <div class="container">
                <h2 class="subtitle">
                    You can use this form to create a page:
                </h2>
                <form class="form" method="post" :action="page">
                    <div class="field has-addons">
                        <p class="control">
                            <a class="button is-static">
                                {{base_url}}/
                            </a>
                        </p>
                        <p class="control">
                            <input class="input" type="text" v-model="page" placeholder="page">
                        </p>
                    </div>
                    <div class="field">
                        <textarea v-model="html" class="textarea" placeholder="HTML" rows="6"></textarea>
                    </div>
                    <input type="hidden" name="html" :value="base64html">
                    <div class="field">
                        <div class="control">
                            <button type="submit" class="button is-primary" :disabled="page.length == 0 || html.length == 0">
                                Submit
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </section>
    </div>

    <script>
        let app = new Vue({
            el: '#app',
            data: {
                page: '',
                html: ''
            },
            computed: {
                base64html() {
                    return btoa(this.html)
                }
            }
        })
    </script>
</body>
</html>